/* GLOBAL */
* {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/* CABEÇALHO */
header {
    width: 100%;
    background-color: #eef1ec;
}

#logo_ifsc {
    width:199px;
    height: 53px;
    margin: 0px 0px 18px 0px;
}

.navg {
    font-family: 'Roboto', sans-serif !important;
    /*text-align: center;*/
    word-spacing: 10px;
    min-height: 64px;
    max-width: 1050px;
    margin: 0px auto;
    padding: 30px 15px;
}

.links_menu {
    color: #636363;
    text-decoration: none;
    font-size: 18px;
}

.links_menu:hover {
    color: #2d2b2b;
}

.status_bar {
    background-color: #0d4f4d;
    height: 40px;
    color: #eef1ec !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: lighter;
    padding: 15px;
}

.bookmark {
    width: 1050px;
    margin: 0px auto;
}

/* CONTEÚDO PRINCIPAL/TEXTOS */
main {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

section {
    margin: 80px auto 100px;
    max-width: 1050px;
    padding: 0px 15px;
}

h1 {
    color: #0f5f5c;
    margin-bottom: 16px;
    /*font-weight: lighter;*/
}

h2 {
    color: #0f5f5c;
    margin-bottom: 16px;
    font-weight: lighter;
}

h3 {
    color: #0f5f5c;
    margin-bottom: 15px;
    font-weight: lighter;
}

/* RODAPÉ */
footer {
    background-color: rgba(0,0,0, 0.76);
    padding: 20px;
    min-height: 130px;
}

#authors {
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    max-width: 1050px;
    margin: 0px auto;
    min-height: 140px;
    padding: 0px 15px;
}

#image {
    margin: 0px auto;
}

#git {
    text-align: left !important;
    max-width: 100px;
}
